/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$default-font: "OpenSans", sans-serif;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// Base colors
$accent-color: #fed700;
$grey-color: #333e48;

// Top bar colors
$top-bar-color: #334141;
$top-bar-border-color: #dddddd;
$top-bar-menu-splitter-color: #cad5d5;