/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$default-font: "OpenSans", sans-serif;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// Base colors
$accent-color: #fed700;
$accent-color-hover: #eac600;
$color-gray: #dddddd;
$color-white-gray: #f9f9f9;
$main-font-color: #333e48;
$border-color: #dddddd;

// Top bar colors
$top-bar-color: #334141;
$top-bar-menu-splitter-color: #cad5d5;

// Search
$search-text-color: #818181; 
