/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .dgwt-wcas-sf-wrapp {
    .dgwt-wcas-search-input {
      line-height: 1.4em;
    }
  } 
  .header-user-nav-item {
    margin-right: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #page.site {
    padding-top: 95px;
  }
  .site-header {
    top: 0;
    .logo-img {
      max-width: 100%;
    }
  }
  .dgwt-wcas-search-wrapp {
    top: -2px;
  }
  .header-user-nav {
    .shopping-bag {
      position: relative;
      font-weight: bold;
      &-count {
        position: absolute;
        top: -7px;
        left: 15px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $accent-color;
        text-align: center;
        font-weight: 700;
        line-height: 1.22;
      }
    }
  }
  .section-site-navigation {
    margin-top: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #page.site {
    padding-top: 60px;
  }
  .site-header {
    padding: 15px 0;
    box-shadow: 0px 2px 6px $border-color;
    background-color: $accent-color;
    &.sticky {
      background-color: $accent-color;
    }
    .logo {
      &-link {
        justify-content: center;
      }
      &-img {
        height: 30px;
      }  
    }
  }
  .header-user-nav {
    .shopping-bag,
    .wish-list {
      &-count {
        color: #fff;
        background-color: $main-font-color;
      }
    }
  }
  .header-user-nav-item {
    margin-right: 30px;
  }
  .section-site-navigation {
    position: fixed;
    left: -100%;
    top: 0;
    width: 52%;
    height: 100vh;
    margin-top: 0;
    z-index: 5;
    background-color: #333333;
    transition: transition .3s ease;
  }
  .dgwt-wcas-search {
    &-wrapp {
      top: 0;
      width: 470px;
      margin: 0 auto;
    }
    &-submit {
      border-radius: 0;
      background-color: transparent;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .site-header {
    .logo {
      &-img {
        max-width: 80%;
      }
    }
  }
  .section-site-navigation {
    width: 250px;
  }
  .mobile-search {
    .dgwt-wcas-suggestions-wrapp {
      padding: 0 15px 10px;
    }
    .dgwt-wcas-search-form {
      padding: 0 15px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .site-header {
    .logo {
      &-img {
        max-width: 100%;
      }
    }
  }
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .feature {
    &-item {
      flex-basis: 50%;
      border-right: 1px solid $border-color;
      &:nth-child(2) {
        border: 0;
      } 
    }
  }
  .product-card {
    &-buy {
      .button,
      .added_to_cart {
        padding: 18px;
        &::after {
          font-size: 14px;
        }
      }
    }
  }
  .woocommerce-product-gallery {
    &__image {
      text-align: center;
      img {
        width: auto;
        height: auto;
      }
    }
    .flex-control-nav {
      img {
        height: auto;
      }
    }
  }
  .site-footer {
    .copyright-bar {
      .copyright,
      .payment {
        flex-basis: 50%;
      }
      .copyright {
        text-align: left;
        margin-bottom: 0;
      }
      .payment {
        text-align: right;
        &-list {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width : 576px) {
  .products {
    .product {
      flex-basis: 33%;
      &:nth-child(2n){
        &::after {
          content: '';
        }
      }
      &:nth-child(3n){
        &::after {
          content: none;
        }
      }
    }
  }
  .products {
    .product-card {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .widget-area {
    float: left;
    width: 30%;
    height: 100%;
    padding-right: 20px;
    .widget {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .related {
    &.products {
      width: 101%;  
      .owl-stage-outer {
        padding: 10px 2px 80px;
      }
    }
    &-title {
      font-size: 22px;
      font-weight: 400;
    }
  }
  .single-product {
    .product {
      .woocommerce-product-gallery {
        flex-basis: 40%;
      }
      .entry-summary {
        flex-basis: 60%;
      }
    }
  }
  .woocommerce-product-gallery {
    &__image {
      img {
        width: 100%;
      }
    }
  }
  .site-footer {
    .footer {
      &-contact {
        flex-basis: 42%;
      }
      &-menu-catalog {
        flex-basis: 18%;
      }
      &-menu-buyer,
      &-dev {
        flex-basis: 20%;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .top-bar {
    display: block;
  }
  .feature {
    &-item {
      flex-basis: 25%;
      &:nth-child(2) {
        border-right: 1px solid $border-color;
      }
    }
  }
  .category-content {
    float: right;
    width: 76%;
  }
  .widget-area {
    float: left;
    width: 22%;
  }
  .products {
    .product {
      flex-basis: 25%;
      &:nth-child(3n){
        &::after {
          content: '';
        }
      }
      &:nth-child(4n){
        &::after {
          content: none;
        }
      }
      &:hover {
        position: relative;
        min-height: 334.6px;
        &::after {
          display: none;
        }
        .product-card {
          position: absolute;
          right: 0;
          left: 0;
          background-color: #ffffff;
          box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
          z-index: 2;
          .product-description {
            display: block;
          }
        }
      }
    }
    &.related {
      .product {
        &:hover {
          min-height: 338.19px;
        }
      }
    }
  }
  .product-card {
    padding: 10px 20px 20px 20px;
    &-buy {
      margin-top: 10px;
      .button,
      .added_to_cart {
        &::after {
          font-size: 15px;
          transition: color .3s ease;
        }
        &:hover {
          background-color: $main-font-color;
          &::after {
            color: #ffffff;
          }
        }
      }
      .yith-wcwl-add-to-wishlist {
        margin-right: 15px;
      }
      .ui-icon-heart,
      .ui-icon-heart-filling {
        transition: color .3s ease;
        &:hover {
          color: #000000;
        }
      }
      .ui-icon-heart {
        top: 4px;
        font-size: 21px;
      }
      .ui-icon-heart-filling {
        top: 2px;
        font-size: 18px;
      }
      .price {
        font-size: 15px;
      }
    }
    .product-description {
      display: none;
    }
    .wp-post-image {
      min-height: 150px;
    }
  }
  .related {
    .product-card {
      &-buy {
        .ui-icon-heart {
          top: 0px;
        }
        .ui-icon-heart-filling {
          top: 4px;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .woocommerce-product-gallery {
    &__image {
      img {
        width: 80%;
      }
    }
  }
}