/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .feature {
    &-item {
      flex-basis: 50%;
      border-right: 1px solid $border-color;
      &:nth-child(2) {
        border: 0;
      } 
    }
  }
  .product-card {
    &-buy {
      .button,
      .added_to_cart {
        padding: 18px;
        &::after {
          font-size: 14px;
        }
      }
    }
  }
  .woocommerce-product-gallery {
    &__image {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 350px;
      }
    }
    .flex-control-nav {
      img {
        height: auto;
      }
    }
  }
  .comment-form {
    justify-content: flex-start;
    &-attachment {
      text-align: left;
    }
  }
  .woocommerce-tabs {
    .tabs {
      display: flex;
      justify-content: center;
      &::after {
        content: none;
      }
      li {
        margin-right: 20px;
        a {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  .site-footer {
    .copyright-bar {
      .copyright,
      .payment {
        flex-basis: 50%;
      }
      .copyright {
        text-align: left;
        margin-bottom: 0;
      }
      .payment {
        text-align: right;
        &-list {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width : 576px) {
  .site-header {
    padding: 15px 0;
    &-wrapper {
      &.menu-open {
        .container {
          margin-left: 0;
        }
      }
    }
    .logo {
      &-link {
        flex-basis: 40%;
      }
      &-img {
        display: block;
        max-height: 55px;
        &-small {
          display: none;
        }
      }
    }
    &-user-nav {
      flex-basis: 20%;
    }
    &-search-mobile {
      background-color: #ffffff;
    }
  }
  .dgwt-wcas-search {
    &-wrapp {
      width: 510px;
      margin: 0 auto;
    }
    &-form {
      .dgwt-wcas-search-submit {
        &::before {
          right: 0;
        }
      }
      .dgwt-wcas-search-input {
        padding-left: 0;
      }
      .dgwt-wcas-search-submit {
        width: 8%;
      }
    }
  }
  .dgwt-wcas-suggestions-wrapp {
    left: 0;
  }
  .dgwt-wcas-suggestion {
    width: 510px;
    margin: 0 auto;
    padding: 5px 0;
  }
  .products {
    .product {
      flex-basis: 33%;
      &:nth-child(2n){
        &::after {
          content: '';
        }
      }
      &:nth-child(3n){
        &::after {
          content: none;
        }
      }
    }
  }
  .products {
    .product-card {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .site {
    padding-top: 76px;
  }
  .site-header {
    &-wrapper {
      background-color: #ffffff;
    }
    &-user-nav {
      flex-basis: 18%;
      &-left {
        display: none;
      }
      &-item {
        .shopping-bag-count,
        .wish-list-count {
          background-color: $accent-color;
          color: $main-font-color;
        }
      }
    }
    .logo {
      &-link {
        flex-basis: 25%;
      }
    }
    &-search{
      flex-basis: 50%;
      &-desktop  {
        display: block;
      }
      &-mobile {
        display: none;
      }
    }
  }
  .section-site-navigation {
    height: auto;
  }
  .dgwt-wcas-search-wrapp {
    position: relative;
    width: auto;
  }
  .dgwt-wcas-search-form {
    .dgwt-wcas-search-input {
      padding-right: 10px;
      padding-left: 15px;
      border: 2px solid $accent-color;
      border-radius: 25px 0 0 25px;
    }
    .dgwt-wcas-search-submit {
      flex-basis: 15%;
      background-color: $accent-color;
      border-radius: 0 25px 25px 0;
      &::before {
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .dgwt-wcas-suggestion {
    width: auto;
    padding: 5px 15px;
  }
  .dgwt-wcas-suggestions-wrapp {
    box-shadow: none;
    border-radius: 0 0 10px 10px;
    border: 1px solid $border-color;
  } 
  .dgwt-wcas-open {
    .dgwt-wcas-search-input {
      border-radius: 10px 0 0 0;
    }
    .dgwt-wcas-search-submit {
      border-radius: 0 10px 0 0;
    }
  }
  .section-site-navigation {
    position: static;
    width: auto;
    background-color: $accent-color;
    &-placeholder {
      display: none;
    }
  }
  .widget-area {
    float: left;
    width: 30%;
    height: 100%;
    padding-right: 20px;
    .widget {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .related {
    &.products {
      width: 101%;  
      .owl-stage-outer {
        padding: 10px 2px 80px;
      }
    }
    &-title {
      font-size: 22px;
      font-weight: 400;
    }
  }
  .single-product {
    .product {
      .woocommerce-product-gallery {
        flex-basis: 40%;
      }
      .entry-summary {
        flex-basis: 60%;
      }
    }
    .woocommerce-Reviews {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .woocommerce-Reviews {
    #comments {
      flex-basis: 50%;
      margin-top: 0;
    }
    #review_form_wrapper {
      flex-basis: 43%;
    }
  }
  .comment-respond {
    .comment-reply-title {
      line-height: 1.2;
    }
  }
  .woocommerce-tabs {
    .tabs {
      li {
        margin-right: 40px;
        a {
          font-size: 18px;
        }
      }
    }
  }
  .comment-form-attachment label,
  .comment-form .form-submit input {
    transition: background-color 0.3s ease;
    cursor: pointer;
      &:hover {
        background-color: $accent-color-hover;
      }
    }
  .description-store {
    &-text {
      ol {
        padding-left: 30px;
      }
    }
    &-more {
      text-align: right;
    }
  }
  .woocommerce-message {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    text-align: left;
    .button {
      min-width: 22%;
      border-top: none;
      border-left: 1px solid #e7c400;
      margin-top: 0;
      padding-left: 15px;
    }
  }
  .site-footer {
    .footer {
      &-widget {
        padding: 60px 0 60px 0;
      }
      &-contact {
        flex-basis: 42%;
        .footer-call-us {
          justify-content: flex-start;
        }
        .footer-work,
        .footer-email {
          text-align: left;
        }
        .footer-social-icons {
          justify-content: start;
        }
      }
      &-menu-catalog {
        flex-basis: 18%;
      }
      &-menu-catalog,
      &-menu-buyer {
        justify-content: start;
      }
      &-menu-buyer,
      &-dev {
        flex-basis: 20%;
        text-align: left;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .site {
    padding-top: 0;
  }
  .top-bar {
    display: block;
    margin-bottom: 76px;
  }
  .site-header {
    &-wrapper {
      top: 38px;
    }
    .logo {
      &-link {
        flex-basis: 25%;
      }
      &-img {
        width: 80%;
        margin: 0;
      }
    }
    &-user-nav {
      flex-basis: 25%;
      &-item {
        .shopping-bag-count {
          position: relative;
          top: -2px;
          left: 0;
          border-radius: 0;
          background-color: #ffffff;
        }
      }
    }
    &-search {
      padding-right: 25px;
    }
  }
  .dgwt-wcas-suggestion {
    transition: background-color 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: $color-gray;
    }
    &:last-child {
      border-radius: 0 0 10px 10px; 
    }
  }
  .top-bar {
    display: block;
  }
  .feature {
    &-item {
      flex-basis: 25%;
      &:nth-child(2) {
        border-right: 1px solid $border-color;
      }
    }
  }
  .category-content {
    float: right;
    width: 76%;
  }
  .widget-area {
    float: left;
    width: 22%;
  }
  .products {
    .product {
      flex-basis: 25%;
      &:nth-child(3n){
        &::after {
          content: '';
        }
      }
      &:nth-child(4n){
        &::after {
          content: none;
        }
      }
      &:hover {
        position: relative;
        min-height: 334.6px;
        &::after {
          display: none;
        }
        .product-card {
          position: absolute;
          right: 0;
          left: 0;
          background-color: #ffffff;
          box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
          z-index: 2;
          .product-description {
            display: block;
          }
        }
      }
    }
    &.related {
      .product {
        &:hover {
          min-height: 338.19px;
        }
      }
    }
  }
  .product-card {
    padding: 10px 20px 20px 20px;
    &-buy {
      margin-top: 10px;
      .button,
      .added_to_cart {
        &::after {
          font-size: 15px;
          transition: color .3s ease;
        }
        &:hover {
          background-color: $main-font-color;
          &::after {
            color: #ffffff;
          }
        }
      }
      .yith-wcwl-add-to-wishlist {
        margin-right: 15px;
      }
      .ui-icon-heart,
      .ui-icon-heart-filling {
        transition: color .3s ease;
        &:hover {
          color: #000000;
        }
      }
      .ui-icon-heart {
        top: 4px;
        font-size: 21px;
      }
      .ui-icon-heart-filling {
        top: 2px;
        font-size: 18px;
      }
      .price {
        font-size: 15px;
      }
    }
    .product-description {
      display: none;
    }
    .wp-post-image {
      min-height: 150px;
    }
  }
  .related {
    .product-card {
      &-buy {
        .ui-icon-heart {
          top: 0px;
        }
        .ui-icon-heart-filling {
          top: 4px;
        }
      }
    }
  }
  .comment-form {
    &-attachment {
      flex-basis: 50%;
    }
    .form-submit {
      flex-basis: 50%;
      margin-top: -9px;
      text-align: right;
    }
  }
  .single-product {
    .product-meta {
      .specification {
        flex-basis: 35%;
      }
      .product-packaging {
        flex-basis: 55%;
        margin-top: 0;
        margin-left: 10px;
      }
    }
    .variations_form,
    .cart {
      width: 70%;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .single-product {
    .product-meta {
      .specification {
        margin-right: 15px;
      }
      .product-packaging {
        margin-left: 15px;   
        &-vals,
        &-price {
          font-size: 16px;
        }  
      }
    }
    .variations_form,
    .cart {
      width: 50%;
    }
  }
}