.error-404 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  &-image {
    width: 100%;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  h1 {
    margin: 0 0 10px;
    font-size: 34px;
    font-weight: 700;
  }
  h2 {
    margin: 0;
    font-size: 22px;
  }
  h3 {
    margin: 20px 0 10px;
    color: #888;
    font-size: 18px;
  }
  p {
    margin: 20px 0;
    font-size: 18px;
  }
  .button {
    margin: 0 auto;
    background-color: $accent-color;
    font-weight: 600;
  }
}