.contacts {
  h2 {
    position: relative;
    margin: 20px 0 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    &::before {
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 50px;
      height: 2px;
      background-color: $accent-color;
      content: '';
    }
  }
  h5 {
    font-weight: 700;
  }
  label {
    font-weight: 600;
  }
  input {
    width: 100%;
    margin: 5px 0 15px;
    padding: 13px 15px;
  }
  textarea {
    width: 100%;
    margin: 5px 0 15px;
    border-radius: 25px;
    resize: none;
  }
  input[type=submit] {
    background-color: $accent-color;
    color: $main-font-color;
  }
  .work-time-list {
    &-item {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}