body {
  font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
  font-family: $default-font;
  color: $main-font-color;
  &.noscroll {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: hidden;
  }
  &.menu-open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
  }
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

button,
input {
  box-shadow: none;
  border: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.home {
  .site-footer {
    margin-top: 0;
  }
}

.page {
  .entry-header {
    .entry-title {
      margin: 50px 0 40px;
      text-align: center;
      font-size: 40px;
    }
  }
}

.disableScroll {
  overflow: hidden;
}

.section-padding-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}


