/**
 * Heading Styles
 */
h1, 
h2,
h3, 
h4, 
h5, 
h6,
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
  font-family: $default-font;
	font-weight: 500;
	color: $main-font-color;
	margin-top: 0px;
	margin-bottom: 15px;
}

h1 {
	font-size: 51px;
	line-height: normal;
}
h2 {
	font-size: 28px;
	line-height: 1.3;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

/**
 * UI Icons
 */
[class^="ui-icon-"], [class*=" ui-icon-"] {
  font-family: 'neomuscle-ui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-check:before {
  content: "\e900";
}
.ui-icon-cancel:before {
  content: "\e901";
}
.ui-icon-user:before {
  content: "\e902";
}
.ui-icon-viber:before {
  content: "\e903";
}
.ui-icon-telegram:before {
  content: "\e904";
}
.ui-icon-search:before {
  content: "\e905";
}
.ui-icon-shopping-bag:before {
  content: "\e906";
}
.ui-icon-heart:before {
  content: "\e907";
}
.ui-icon-support:before {
  content: "\e908";
}
.ui-icon-wallet:before {
  content: "\e909";
}
.ui-icon-facebook:before {
  content: "\e90a";
}
.ui-icon-delivery:before {
  content: "\e90b";
}
.ui-icon-security:before {
  content: "\e90c";
}
.ui-icon-down-arrow:before {
  content: "\e90d";
}
.ui-icon-right-arrow:before {
  content: "\e90e";
}
.ui-icon-close:before {
  content: "\e90f";
}
.ui-icon-shopping-cart:before {
  content: "\e910";
}
.ui-icon-heart-filling:before {
  content: "\e911";
}
.ui-icon-filling-right-arrow:before {
  content: "\e912";
}
.ui-icon-phone:before {
  content: "\f095";
}
.ui-icon-email:before {
  content: "\f0e0";
}
.ui-icon-instagram:before {
  content: "\f16d";
}