section {
    &.main-slider {
        .owl-carousel {
            .owl-nav {
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 50%;
                    height: 60px;
                    width: 60px;
                    margin-top: -30px;
                    font-size: 18px;
                    line-height: 60px;
                    text-align: center;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
                    border-radius: 60px;
                    transition: all 0.25s ease 0s;
                    outline: none;
                    &:hover {
                        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
                    }
                }
                .owl-prev {
                    left: 25px;
                }
                .owl-next {
                    right: 25px;
                }
            }
            .owl-dots {
                position: absolute;
                bottom: 10px;
                width: 100%;
                z-index: 2;
                .owl-dot {
                    outline: none;
                    &.active span {
                        background: $color__accent;
                    }
                    span {
                        background: #f8f8f8;
                    }
                }
            }
        } 
    }
    &.promo {
        .promo-box {
            text-align: center;
            border-right: 1px solid #eee;
            &.last {
                border: 0;
            }
        }
        .icon {
            font-size: 34px;
            display: inline-table;
            vertical-align: middle;
        }
        .info {
            padding-left: 15px;
            text-align: left;
            display: inline-table;
            vertical-align: middle;
            h6 {
                margin: 0 0 5px 0;
                padding: 0;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
            p {
                max-width: 180px;
                margin-bottom: 0;
                margin-top: 0;
                font-size: 12px;
                color: #777;
            }
        }
    }

    &.instagram {
        background-color: $color__background-gray;
        .widget-title {
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .profile-url {
            display: block;
            margin-bottom: 50px;
            text-align: center;
            a {
                text-decoration: none;
            }
        }
        ul {
            text-align: center;
            margin: 0;
            li {
                display: inline-block;
                margin-right: 1.5%;
                width: 18%;
            }
        }
    }
}