.woocommerce-cart {
  &-form {
    margin-bottom: 50px;
  }
  .entry-header {
    .entry-title {
      margin: 50px 0 30px;
      text-align: center;
      font-size: 40px;
      line-height: 1.1;
    }
  }
  .entry-content {
    .cart-empty {
      margin-bottom: 22.5px;
      text-align: center;
      font-size: 30px;
      line-height: 45px;
      font-weight: 300;
    }
    .return-to-shop {
      text-align: center;
      .button {
        background-color: $accent-color;
      }
    }
  }
}

table.shop_table_responsive {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid $border-color;
    &:first-child {
      td.product-remove {
        padding-top: 0;
      }
    }
    &:last-child {
      border-bottom: none;
    }

    td {
      display: flex;
      padding-bottom: 20px;
      align-items: center;
      &::before {
        content: none;
      }
      .title {
        width: 45%;
        margin-bottom: 0;
        text-align: left;
        font-size: 17px;
        font-weight: 700;
      }
      .value {
        width: 50%;
        text-align: left;
      }
      &.product {
        &-remove {
          padding-top: 20px;
          a {
            width: 100%;
            text-align: right;
            font-size: 25px;
            color: red;
          }
        }
        &-thumbnail {
          padding-bottom: 10px;
          a {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
        &-name {
          text-align: left;
          a {
            line-height: 1.3;
            color: $main-font-color;
            word-break: break-all;
          }
        }
        &-quantity {
          .quantity {
            width: 70%;
          }
        }
      }
    }
  }
  .actions {
    flex-direction: column;
    padding-top: 50px;
    .coupon {
      margin-bottom: 15px;
      label {
        display: none;
      }
      input {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 15px;
      }
      .button {
        width: 100%;
        background-color: $main-font-color;
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
      }
    }
    .button {
      width: 100%;
      background-color: $accent-color;
      font-weight: 700;
    }
  }
}

.cart-collaterals {
  .cart_totals {
    h2 {
      position: relative;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color;
      &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        display: block;
        width: 120px;
        height: 2px;
        background-color: $accent-color;
        content: '';
      }
    }
  }
  table.shop_table_responsive {
    margin-bottom: 30px;
    tr {
      display: flex;
      padding: 10px 0;
    }
    th {
      flex-grow: 1;
      display: block;
      text-align: left;
    }
    td {
      justify-content: flex-end;
      padding: 0;
    }
  }
  #shipping_method {
    text-align: left;
    input[type=radio] {
      position: relative;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      padding: 0;
    }
    input[type=radio]:checked {
      &:before {
        position: absolute;
        left: 2px;
        top: 2px;
        display: block;
        width: 9px;
        height: 9px;
        background-color: $accent-color;
        border-radius: 50%;
        content: '';
      }
    }
  }
  .wc-proceed-to-checkout {
    text-align: center;
    .button {
      width: 90%;
      background-color: $accent-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
    }
  }
}