.woocommerce-checkout {
  .woocommerce-form-coupon-toggle {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: $accent-color;
    border-radius: 5px;
    a {
      display: block;
      font-weight: 700;
      color: $main-font-color;
    }
  }
}

.checkout_coupon.woocommerce-form-coupon {
  margin-bottom: 60px;
  p {
    display: none;
    &.form-row {
      display: block;
      input {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 35px;
      }
      .button {
        background-color: $main-font-color;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

form.checkout {
  h3 {
    width: 100%;
    position: relative;
    padding: 10px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid $border-color;
    font-size: 25px;
    font-weight: 500;
    &::before {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 50px;
      height: 2px;
      display: block;
      background-color: $accent-color;
      content: '';
    }
    label {
      margin-bottom: 0;
    }
  }
  .form-row {
    margin-bottom: 20px;
  }
  label {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .woocommerce-input-wrapper {
    display: block;
    input,
    select {
      width: 100%;
      padding: 8px 15px;
    }
    select {
      line-height: 1.4;
    }
    textarea {
      display: block;
      width: 100%;
      height: 150px;
      padding: 15px;
      border-radius: 20px;
      resize: none;
    }
  }
}

.order_review_wrapper {
  background-color: #f5f5f5;
  padding: 0 15px;
  border-radius: 5px;
}

.woocommerce-checkout-review-order {
  padding-bottom: 10px;

  .blockOverlay {
    display: none !important;
  }
}

.woocommerce-checkout-review-order-table,
.woocommerce-table--order-details {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  font-size: 14px;
  thead,
  tbody,
  tfoot {
    display: block;
    width: 100%;
  }
  tr {
    display: flex;
    justify-content: space-between;
    &:first-child {
      border-top: none;
    }
  }
  th {
    padding-bottom: 5px;
    line-height: 21px;
    font-weight: 700;
  }
  .product {
    &-name {
      text-align: left;
    }
    &-total {
      text-align: right;
    }
  }
  .cart_item {
    td {
      vertical-align: top;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  tbody {
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;
  }
  tfoot {
    border-bottom: 1px solid $border-color;
    tr {
      padding: 5px 0;
    }
  }
}

.woocommerce-checkout-payment {
  &-title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .payment_methods {
    border-bottom: 1px solid $border-color;
  }
  .wc_payment_method {
    p {
      margin-bottom: 10px;
      font-size: 13px;
    }
  }
  .place-order {
    text-align: center;
    .woocommerce-privacy-policy-text {
      margin: 15px 0 30px 0;
      font-size: 12px;
      line-height: 1.2;
      text-align: left;
      a {
        color: $main-font-color;
        text-decoration: underline;
      }
    }
    .button {
      margin: 0 auto;
      background-color: $accent-color;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        color: #ffffff;
        background-color: #000000;
      }
    }
  }
  .checkout-review-order-table {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
    tr {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  }
}