.category-content {
	float: right;
	width: 73%;
	margin-left: 20px;
	.products {
		display: flex;
    flex-wrap: wrap;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 23.5%;
      margin-right: 2%;
      margin-bottom: 2%;
      border: 1px solid #ddd;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
	}
}

.product {
  .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wp-post-image {
    width: 100%;
    height: auto;
  }
}

.widget-area {
	float: left;
	width: 25%;
	height: 100%;
	padding-right: 20px;
	border-right: 1px solid;
}