.product-card {
  padding: 10px;
  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .woocommerce-loop-product {
    &__link {
      margin-bottom: 10px;
    }
    &__title {
      height: 35px;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: 700;
      color: $main-font-color;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .wp-post-image {
    width: 100%;
    height: auto;
  }
  &-categories {
    height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    .loop {
      color: #878787;
      a {
        color: #878787;
        font-size: 12px;
        &:hover {
          color: $main-font-color;
        }
      }
    }
  }
  .star-rating {
    display: none;
  }
  .onsale {
    position: absolute;
    top: 85px;
    left: 10px;
    padding: 3px 9px;
    background-color: $accent-color;
    border-radius: 50%;
    font-weight: 600;
    color: $main-font-color;
  }
  &-buy {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .price {
      position: relative;
      font-size: 14px;
      line-height: 1.2;
      font-weight: bold;
      flex-grow: 1;
      .woocommerce-Price-currencySymbol {
        font-weight: normal;
      }
      &-old {
        position: absolute;
        top: -100%;
        font-size: 14px;
        font-weight: 400;
        color: #aaabae;
        &::before {
          position: absolute;
          top: 9px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #aaabae;
          content: '';
        }
      }
    }
    .woocommerce-loop-product{
      &__link {
        display: none;
      }
    }
    .added_to_cart,
    .button {
      position: relative;
      padding: 15px;
      font-size: 0;
      order: -1;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 12px;
        font-weight: 400;
        font-family: 'neomuscle-ui' !important;
        transform: translate(-50%, -50%);
      }
    }
    .button {
      &::after {
        content: "\e910";
      }
      &.added {
        display: none;
      }
    }
    .added_to_cart {
      &::after {
        content: "\e912";
      }
    }
    .yith-wcwl-add-to-wishlist {
      margin-top: 0;
      margin-right: 10px;
    }
    .ui-icon-heart,
    .ui-icon-heart-filling {
      position: relative;
      top: 2px;
      font-size: 16px;
      color: $accent-color;
    }
    .ui-icon-heart-filling {
      top: 2px;
      font-size: 14px;
    }
  }
  .product-description {
    display: none;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    .item {
      font-size: 11px;
      &-title {
        display: inline-block;
        min-width: 125px;
        color: #818181;
      }
    }
  }
}

.yith-wcwl-add-to-wishlist {
  position: relative;
  .ajax-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0;
    transform: translate(-50%, -50%);
  }
}

.woocommerce-products-header {
  &__title {
    font-size: 25px;
    color: rgb(51, 62, 72);
  }
}

.wcapf-before-products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f5f5f5;
  .woocommerce-info {
    padding-left: 15px;
  }
  .woocommerce-result-count,
  .woocommerce-ordering {
    padding: 5px 15px;
    line-height: 1.4;
  }
  .woocommerce-ordering {
    label {
      font-weight: 700;
    }
    select {
      width: 100%;
      margin-top: 10px;
      padding: 10px 25px;
      border-radius: 55px;
      background: #fff url(assets/images/down-arrow.svg) no-repeat 91% 55%;
      background-size: 16px;
    }
  }
  .columns-4 {
    width: 100%;
    background-color: #FFFFFF;
  }
}