.category-content {
	.products {
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 100%;
      max-width: 310px;
      margin-bottom: 25px;
      border: 1px solid #ddd;
    }
	}
}

.products {
  .product {
    .wp-post-image {
      width: 100%;
      height: auto;
    }
  }
}

.product {
  .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.widget-area {
  margin-top: 20px;
}