.products {
  display: flex;
  flex-wrap: wrap;
  .product {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    &::after {
      position: absolute;
      top: 10%;
      right: 0;
      display: block;
      width: 1px;
      height: 80%;
      background-color: #ddd;
      content: '';
    }
    &:nth-child(2n),
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

.widget-area {
  margin-top: 20px;
}