.category-content {
	.products {
		display: flex;
    flex-wrap: wrap;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 100%;
      margin-bottom: 25px;
      border: 1px solid #ddd;
    }
	}
}

.product {
  .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wp-post-image {
    width: 100%;
    height: auto;
  }
}

.widget-area {
  margin-top: 20px;
}