.dgwt-wcas-search-form {
  background-color: #ffffff;
	.dgwt-wcas-sf-wrapp {
		display: flex;
	}
  .screen-reader-text {
    display: none;
  }
  .dgwt-wcas-search-input {
    flex-grow: 1;
    padding: 10px 0 10px 15px;
    border-radius: 0;
    border: none;
  }
  .dgwt-wcas-search-submit {
    position: relative;
		width: 15%;
		padding: 0;
		border-radius: 0;
    background-color: #ffffff;
    svg {
      display: none;
    }
    &::before {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
      font-family: 'neomuscle-ui' !important;
			font-size: 18px;
			color: $main-font-color;
			content: "\e903";
    }
  }
}

.dgwt-wcas-suggestions-wrapp {
  width: 100% !important;
  border-top: 1px solid $border-color;
  box-shadow: 0px 3px 3px $border-color;
  background-color: #ffffff;
}

.dgwt-wcas-suggestion {
  padding: 5px 15px;
  font-size: 14px;
}
