.single-product {
  .product {
    display: flex;
    flex-wrap: wrap;
    .woocommerce-product-gallery {
      width: 40%;
      flex-basis: 40%;
    }
    .entry-summary {
      flex-basis: 60%;
    }
    .related {
      flex-basis: 100%;
    }
  }
  .product_title {
    font-size: 1.786em;
    line-height: 1.28em;
    margin-bottom: .48em;
  }
  .product-info {
    padding: 10px 0;
    font-size: 14px;
    color: #8f8e94; 
    border-top: 1px solid $border-color;
  }
  .price {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .cart {
    float: left;
    margin-right: 18px;
  }
  .yith-wcwl-add-to-wishlist {
    margin-top: 0;
    font-size: 26px;
    a {
      color: $accent-color;
      &:hover {
        color: $main-font-color;
      }
    }
    .yith-wcwl-wishlistexistsbrowse.show,
    .yith-wcwl-wishlistaddedbrowse.show {
      display: block;
      padding: 3px 0;
      font-size: 12px;
      .feedback {
        display: block;
      }
    } 
  }
  .product-meta {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    .specification {
      flex-basis: 50%;
      padding-right: 15px;
      font-size: 14px;
      .title {
        border-bottom: 1px solid $border-color;
      }
      &-list {
        .item {
          border-bottom: 1px solid $border-color;
          &:last-child {
            border: 0;
          }
          &-title {
            min-width: 180px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.woocommerce-product-gallery {
  display: flex;
  flex-direction: column;
  .flex-viewport {
    margin-bottom: 20px;
  }
  .flex-control-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/**
 * Single Product
 */
// .single-product {
// 	div.product {
// 		@include clearfix;
// 		position: relative;

// 		.woocommerce-product-gallery {
// 			position: relative;

// 			.woocommerce-product-gallery__trigger {
// 				position: absolute;
// 				top: 1em;
// 				right: 1em;
// 				display: block;
// 				z-index: 99;
// 			}

// 			.flex-viewport {
// 				margin-bottom: 1em;
// 			}

// 			.flex-control-thumbs {
// 				@include clearfix;
// 				margin: 0;
// 				padding: 0;

// 				li {
// 					list-style: none;
// 					cursor: pointer;
// 					float: left;

// 					img {
// 						opacity: .5;

// 						&.flex-active {
// 							opacity: 1;
// 						}
// 					}

// 					&:hover {
// 						img {
// 							opacity: 1;
// 						}
// 					}
// 				}
// 			}

// 			@for $i from 2 through 5 {
// 				&.woocommerce-product-gallery--columns-#{$i} {
// 					.flex-control-thumbs {
// 						li {
// 							@include column-width($i);

// 							&:nth-child(#{$i}n) {
// 								margin-right: 0;
// 							}

// 							&:nth-child(#{$i}n+1) {
// 								clear: both;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// .stock {
// 	&:empty:before {
// 		display: none;
// 	}

// 	&.in-stock {
// 		color: $woocommerce__color-success;
// 	}

// 	&.out-of-stock {
// 		color: $woocommerce__color-error;
// 	}
// }
