.single-product {
  .product {
    display: flex;
    flex-wrap: wrap;
    .woocommerce-product-gallery {
      width: 40%;
      flex-basis: 40%;
      overflow: hidden;
    }
    .entry-summary {
      flex-basis: 60%;
    }
    .related {
      flex-basis: 100%;
      flex-direction: column;
    }
  }
  .related {
    .product-card {
      &-buy {
        .price {
          margin-bottom: 0;
        }
        .ui-icon-heart {
          top: -2px;
        }
        .ui-icon-heart-filling {
          top: 4px;
        }
      }
    }
  }
  .product_title {
    font-size: 1.786em;
    line-height: 1.28em;
    margin-bottom: .48em;
  }
  .product-info {
    padding: 10px 0;
    font-size: 14px;
    color: #8f8e94; 
    border-top: 1px solid $border-color;
  }
  .price {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .cart {
    float: left;
    margin-right: 18px;
  }
  .yith-wcwl-add-to-wishlist {
    margin-top: 0;
    font-size: 26px;
    a {
      color: $accent-color;
      &:hover {
        color: $main-font-color;
      }
    }
    .yith-wcwl-wishlistexistsbrowse.show,
    .yith-wcwl-wishlistaddedbrowse.show {
      display: block;
      padding: 3px 0;
      font-size: 12px;
      .feedback {
        display: block;
      }
    } 
  }
  .product-meta {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    .specification {
      padding-right: 15px;
      font-size: 14px;
      flex-grow: 1;
      .title {
        border-bottom: 1px solid $border-color;
      }
      &-list {
        .item {
          border-bottom: 1px solid $border-color;
          &:last-child {
            border: 0;
          }
          &-title {
            min-width: 180px;
            display: inline-block;
          }
        }
      }
    }
    .product-packaging {
      flex-basis: 50%;
    }
  }
}

.woocommerce-product-gallery {
  display: flex;
  flex-direction: column;
  .flex-viewport {
    margin-bottom: 20px;
  }
  .flex-control-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.woocommerce-tabs {
  width: 100%;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        position: relative;
        padding-bottom: 15px;
        font-size: 18px;
        color: $main-font-color;
        &::before,
        &::after {
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          transition: background-color .3s ease;
          content: '';
        }
        &::before {
          width: 140%;
          height: 2px;
          left: -20%;
        }
        &::after {
          height: 4px;
          width: 10px;
          bottom: -8px;
          left: 50%;
          border-top: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 2px solid transparent;
          border-left: 7px solid transparent;
          transform: translateX(-50%);
        }
      }
      &.active {
        a {
          &::before {
            background-color: $accent-color;
          }
          &::after {
            border-top-color: $accent-color;
          }
        }
      }
    }
  }
  .woocommerce-Tabs-panel {
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }
}

.product-packaging {
  border-collapse: collapse;
  border: 1px solid #ddd;
  white-space: normal;
  text-align: left;
  thead {
    background-color: $accent-color;
    color: $main-font-color;
    border: 1px solid #dddddd;
  }
  th {
    font-weight: normal;
    font-size: 16px;
    line-height: 2.4;
  }
  th,
  td {
    padding: 5px 0 5px 10px;
  }
  tr {
    border-bottom: 1px solid #dddddd;
    &:last-child {
      border-bottom: none;
    } 
  }
  &-img {
    width: 20%;
    img {
      width: auto;
      max-height: 50px;
    }
  }
  &-vals {
    width: 45%;
    font-weight: bold;
    small {
      font-weight: normal;
    }
  }
  &-price {
    width: 25%;
  }
  &-buy {
    width: 10%;
  }
}

/**
 * Single Product
 */
// .single-product {
// 	div.product {
// 		@include clearfix;
// 		position: relative;

// 		.woocommerce-product-gallery {
// 			position: relative;

// 			.woocommerce-product-gallery__trigger {
// 				position: absolute;
// 				top: 1em;
// 				right: 1em;
// 				display: block;
// 				z-index: 99;
// 			}

// 			.flex-viewport {
// 				margin-bottom: 1em;
// 			}

// 			.flex-control-thumbs {
// 				@include clearfix;
// 				margin: 0;
// 				padding: 0;

// 				li {
// 					list-style: none;
// 					cursor: pointer;
// 					float: left;

// 					img {
// 						opacity: .5;

// 						&.flex-active {
// 							opacity: 1;
// 						}
// 					}

// 					&:hover {
// 						img {
// 							opacity: 1;
// 						}
// 					}
// 				}
// 			}

// 			@for $i from 2 through 5 {
// 				&.woocommerce-product-gallery--columns-#{$i} {
// 					.flex-control-thumbs {
// 						li {
// 							@include column-width($i);

// 							&:nth-child(#{$i}n) {
// 								margin-right: 0;
// 							}

// 							&:nth-child(#{$i}n+1) {
// 								clear: both;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// .stock {
// 	&:empty:before {
// 		display: none;
// 	}

// 	&.in-stock {
// 		color: $woocommerce__color-success;
// 	}

// 	&.out-of-stock {
// 		color: $woocommerce__color-error;
// 	}
// }
