.woocommerce-wishlist {
  .entry-title {
    margin-top: 30px;
    text-align: center;
    line-height: 1.2;
  }
}

.woocommerce {
  table.wishlist_table {
    thead {
      tr {
        display: none;
      }
    }
    tr {
      td {
        &.product {
          &-remove {
            justify-content: flex-end;
          }
          &-thumbnail {
            justify-content: center;
            padding-top: 0;
            a {
              max-width: 300px;
            }
            img {
              height: auto;
            }
          }
          &-name,
          &-price,
          &-stock-status {
            padding: 10px 0;
            font-size: 17px;
          }
          &-add-to-cart {
            justify-content: center;
            .button {
              padding: 13px 35px;
              background-color: $accent-color;
              border-radius: 55px;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
