.site-header {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    .top-header {
        padding: 13px 0;
        font-size: 12px;
        color: $color__text-main;
        text-transform: uppercase;
        border-bottom: 1px solid #eee;
        &-left {
            text-align: left;
            .customer-support {
                padding: 0 5px;
            }
        }
        &-right {
            text-align: right;
            ul {
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {     
                        color: $color__text-main; 
                        text-decoration: none;
                        &:hover {
                            color: #34b79d;
                        }
                    }
                }
            }
        }
    }

    .site-branding {
        .logotype,
        .main-navigation,
        .rightside-nav {
            padding: 25px 0; 
        }
        .logotype {
            img {
                width: 238px;
                height: 35px;
            }
        }
        .rightside-nav {
            padding: 32px 0;
            text-align: right;
            border-left: 1px solid #eee;
            ul {
                margin: 0;
                li {
                    display: inline-block;
                    padding-left: 18px;
                    font-size: 18px;
                    .rightside {
                        &-wishlist {
                            position: relative;
                            text-decoration: none;
                            .wishlist-count {
                                border-radius: 50px;
                                width: 18px;
                                height: 18px;
                                display: block;
                                position: absolute;
                                background: #34b79d;
                                right: -10px;
                                top: -8px;
                                text-align: center;
                                line-height: 18px;
                                font-size: 10px;
                                color: #fff;
                            }
                        }
                        &-cart {
                            font-size: 13px;
                            text-decoration: none;
                            &:hover {
                                color: $color__text-main;
                            }
                            .amount {
                                font-weight: 700;
                            }
                            .cart-icon {
                                display: inline-block;
                                font-size: 18px;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-instagram {
    background-color: $color__background-gray;
    padding: 80px 0;
    .widget-title {
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 1.5%;
            width: 18%;
        }
    }
}