.quantity {
  display: block;
  position: relative;
  width: 120px;
  float: left;
  margin: 0 20px 0 0;
  .qty {
    width: 100%;
    height: 44px;
    min-width: 80px;
    padding-left: 25px;
    border-color: #ddd;
    text-align: center;
    -moz-appearance: textfield !important;
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      margin: 0;
      -webkit-appearance: none !important;
      -moz-appearance: textfield !important; 
    }
  }
  .quantityPlus, 
  .quantityMinus {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 30px;
    top: 0;
    &:hover {
      color: #000;
    }
  }
  .quantityMinus {
    left: 0;
    border-right: 1px solid $border-color;
    &:before {
      content: "-";
    }
  }
  .quantityPlus {
    border-left: 1px solid $border-color;
    &:before {
      content: "+";
    }
  }
  .quantityPlus:before, 
  .quantityMinus:before {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5;
    font-size: 18px;
  }
  
  
  
}