.selectize-input,
.selectize-input input {
  color: #333;
  font-size: 16px;
  line-height: 17px;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #fff;
  cursor: text;
  display: inline-block;
}

.selectize-input {
  padding: 10px 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 55px;
          border-radius: 55px;
}

.selectize-input.focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
}

.selectize-input.dropdown-active::before {
  content: none;
}

.selectize-dropdown {
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}

.selectize-dropdown .active {
  background-color: #fff;
  color: #333;
}

.selectize-dropdown-content {
  max-height: 300px;
}

.selectize-dropdown .option {
  cursor: pointer;
}

.selectize-dropdown .option:last-child {
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}

.selectize-control.single .selectize-input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  background-image: none;
  -webkit-filter: none;
          filter: none;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-weight: bold;
  font-size: 16px;
}
