@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSansBold/OpenSansBold.eot");
    src: url("fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'neomuscle-ui';
    src:  url('fonts/neomuscle-ui/neomuscle-ui.eot?acvpux');
    src:  url('fonts/neomuscle-ui/neomuscle-ui.eot?acvpux#iefix') format('embedded-opentype'),
    url('fonts/neomuscle-ui/neomuscle-ui.ttf?acvpux') format('truetype'),
    url('fonts/neomuscle-ui/neomuscle-ui.woff?acvpux') format('woff'),
    url('fonts/neomuscle-ui/neomuscle-ui.svg?acvpux#neomuscle-ui') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="ui-icon-"], [class*=" ui-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'neomuscle-ui' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.ui-icon-viber:before {
    content: "\e901";
}
.ui-icon-telegram:before {
    content: "\e900";
}
.ui-icon-search:before {
    content: "\f002";
}
.ui-icon-heart:before {
    content: "\f004";
}
.ui-icon-phone:before {
    content: "\f095";
}
.ui-icon-facebook:before {
    content: "\f09a";
}
.ui-icon-email:before {
    content: "\f0e0";
}
.ui-icon-instagram:before {
    content: "\f16d";
}
.ui-icon-shopping-bag:before {
    content: "\f290";
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
    line-height: $font__line-height-body;
    font-weight: 400;
}

@import "headings";

@import "copy";
