#page.site {
  overflow: hidden;
  position: relative;
  &.menu-visible {
   left: 50%;
  }
}

.site-header {
	position: absolute;
	left: 0;
	right: 0;
	padding: 30px 0;
	transition: padding .3s ease;
  transform: translateZ(0);
  z-index: 2;
	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		padding: 15px 0;
		background-color: #fff;
		z-index: 3;
		box-shadow: 0px 2px 6px $border-color;
	}
	.logo {
		height: 100%;
		&-link {
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-img {
			max-width: 80%;
			height: 40px;
		}
	}
}

.top-bar {
	display: none;
	padding: 6.5px 0;
	font-size: 13px;
	line-height: 24px;
	border-bottom: 1px solid $border-color;
	&-left {
		.menu {
			&-item {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
        }
			}
		}
	}
	&-right {
		display: flex;
		justify-content: flex-end;
		.menu {
			&-item {
				&::before {
					content: '|';
					display: inline-block;
					margin: 0 16px;
					color: $top-bar-menu-splitter-color;
				}
				&:first-child {
						&::before {
								content: '';
						}
				}
			}
		}
	}
	.menu {
		display: flex;
		list-style-type: none;
		&-title {
			padding: 0 5px;
			text-transform: uppercase;
		}
		&-link {
			color: $top-bar-color;
			&:hover {
				color: $top-bar-color;
			}
		}
	}
}

.header-user-nav {
	display: flex;
	height: 100%; //fix
	align-items: center;
  justify-content: flex-end;
  &-left {
    justify-content: flex-start;
  }
	&-item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		font-size: 20px;
		color: $main-font-color;
    font-weight: bold;
    &:hover {
      color: #000000;
    }
		span {
			font-family: "OpenSans", sans-serif;
			font-size: 14px;
		}
	}
	.wish-list {
		position: relative;
		font-weight: bold;
		&-count {
			position: absolute;
			top: -7px;
			right: -7px;
			width: 17px;
			height: 17px;
			padding-right: 1px;
			border-radius: 50%;
			background-color: $accent-color;
			text-align: center;
			font-weight: 700;
			line-height: 1.22;
		}
	}
	.shopping-bag {
		&-count {
			position: relative;
			top: -2px;
			margin-left: -5px;
			font-weight: normal;
			strong {
				font-weight: bold;
			}
		}
	}
	.js-open-mobile-search {
		cursor: pointer;
  }
}

.menu-toggle {
  position: relative;
  top: -3px;
  height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: $main-font-color;
    transition: background-color .5s ease;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $main-font-color;
      transition: transform .5s ease, top .3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &.toggled {
    .icon {
      background-color: transparent;
      &::before {
        top: 45%;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 45%;
        transform: rotate(-45deg);
      }
    }
  }
}

.section-site-navigation {
	margin-top: 101px;
	background-color: $accent-color;
}

.mobile-search {
	position: absolute;
	top: -120%;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 2px 6px $border-color;
	transition: all .5s ease;
	opacity: 0;
	z-index: 5;
	&.visible {
		opacity: 1;
    top: 100%;
    &::before {
      content: '';
      display: block;
      height: 100vh;
      background-color: #333; // push to variable
      position: absolute;
      top: 100%;
      width: 100%;
      opacity: 0.8;
    }
	}
	.dgwt-wcas-search-wrapp {
		top: 0;
	}
	.dgwt-wcas-search-form {
		max-width: 430px;
		margin: 0 auto;
	}
	.dgwt-wcas-sf-wrapp {
		.dgwt-wcas-search-submit,
		.dgwt-wcas-search-input {
			padding-left: 0;
			border: none;
			border-radius: 0;
			background-color: #fff;
		}
		.dgwt-wcas-search-input {
			padding-right: 10px;
			line-height: 2.6;
		}
		.dgwt-wcas-search-submit {
			flex-basis: 5%;
			padding-right: 0;
			text-align: right;
		}
	}
	.dgwt-wcas-suggestions-wrapp {
		position: relative;
		padding-bottom: 10px;
		border: none;
		border-radius: 0;
		box-shadow: 0px 5px 6px #383838; // push to variable
		.dgwt-wcas-suggestion {
			max-width: 430px;
			margin: 0 auto;
				&:hover {
					background-color: #f9f9f9;
				}
				&:last-child {
					border-radius: 0;
				}
			}
		}
		.dgwt-wcas-st {
			padding: 0;
		}
	}