.top-bar {
	display: none;
	padding: 6.5px 0;
	font-size: 13px;
	line-height: 24px;
	border-bottom: 1px solid $border-color;
	&-left {
		.menu {
			&-item {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&-right {
		display: flex;
		justify-content: flex-end;
		.menu {
			&-item {
				&::before {
					content: '|';
					display: inline-block;
					margin: 0 16px;
					color: $top-bar-menu-splitter-color;
				}
				&:first-child {
					&::before {
						content: '';
					}
				}
			}
		}
	}
	.menu {
		display: flex;
		list-style-type: none;
		&-title {
			padding: 0 5px;
			text-transform: uppercase;
		}
		&-link {
			color: $top-bar-color;
			&:hover {
				color: $top-bar-color;
			}
		}
	}
}

.site {
	position: relative;
	padding-top: 55px;
}

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	&-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		background-color: $accent-color;
		&.sticky {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			box-shadow: 0 0 6px 0 rgba(1, 1, 1, 0.3);
			z-index: 6;
		}
	}
	.logo {
		&-link {
			flex-basis: 30%;
		}
		&-img {
			display: none;
			max-height: 35px;
			margin: 0 auto;
			&-small {
				display: block;
			}
		}
	}
	&-search {
		&-desktop {
			display: none;
		}
	}
	&-user-nav {
		display: flex;
		align-content: center;
		flex-basis: 30%;
		&-right {
			justify-content: flex-end;
		}
		&-link {
			position: relative;
			font-size: 20px;
			font-weight: 700;
			color: $main-font-color;
		}
		&-item {
			display: flex;
			align-items: center;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			.ui-icon-close {
				display: none;
			}
			.wish-list {
				top: 3px;
			}
			.shopping-bag-count,
			.wish-list-count {
				position: absolute;
				top: -7px;
				left: 8px;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				background-color: $main-font-color;
				text-align: center;
				font-size: 14px;
				font-family: "OpenSans", sans-serif;
				font-weight: 700;
				line-height: 1.22;
				color: #ffffff;
			} 
		}
	}
	&-menu-toggle {
		position: relative;
		top: 2px;
		height: 18px;
		cursor: pointer;
		.icon {
			position: static;
			display: block;
			width: 25px;
			height: 2px;
			background-color: $main-font-color;
			border-radius: 2px;
			transition: background-color 0.2s ease;
			content: '';
			&::before,
			&::after {
			  position: absolute;
			  left: 0;
			  width: 100%;
			  height: 2px;
				background-color: $main-font-color;
				border-radius: 2px;
			  transition: transform .3s ease, top .3s ease;
				content: '';
			}
			&::before {
			  top: 1px;
			}
			&::after {
			  bottom: 1px;
			}
		}
		&.open {
			top: 3px;
			.icon {
				background-color: transparent;
				&::before {
					top: 44%;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 45%;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.js-open-mobile-search {
	.ui-icon {
		&-search {
			display: block;
		}
		&-close {
			display: none;
		}
	}
	&.open {
		.ui-icon {
			&-search {
				display: none;
			}
			&-close {
				display: block;
			}
		}	
	}
}

.site-header {
	&-search {
		&-mobile {
			position: absolute;
			top: -100px;
			width: 100%;
			border-bottom: 1px solid $border-color;
			opacity: 0;
			transition: top 0.5s ease, opacity .3s ease;
			&.open {
				top: 100%;
				opacity: 1;
				z-index: 6;
				.search-placeholder {
					display: block;
				}
			}
			.search-placeholder {
				display: none;
				width: 100%;
				height: 100vh;
				background-color: $main-font-color;
				opacity: 0.8;
				content: '';
			}
		}
	}
}

.site-header {
	&-wrapper {
		transition: left 0.5s ease;
		&.menu-open {
			left: 265px;
		}
	}
}

.section-site-navigation {
	position: fixed;
  width: 265px;
  background-color: #222222;
  top: 0;
  left: -100%;
  height: 100%;
	z-index: 6;
	transition: left 0.5s ease;
	&.open {
		left: 0;
		.section-site-navigation-placeholder {
			display: block;
			opacity: 0.4;
		}
	}
	.main-navigation {
		margin: 0 -15px;
	}
	&-placeholder {
		position: absolute;
		top: 0;
		left: 100%;
		display: none;
		width: 1000px;
    height: 100vh;
    background-color: #222222;
		opacity: 0;
		transition: opacity 0.5s ease;
		content: '';
	}
}