.site-header {
	position: relative;
	padding: 30px 0;
	transition: padding .2s ease;
	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		padding: 15px 0;
		background-color: #fff;
		z-index: 3;
		box-shadow: 0px 2px 6px $border-color;
	}
	.logo {
		height: 100%;
		&-link {
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-img {
			max-width: 80%;
		}
	}
}

.top-bar {
	display: none;
	padding: 6.5px 0;
	font-size: 13px;
	line-height: 24px;
	border-bottom: 1px solid $border-color;
	&-left {
		.menu {
			&-item {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&-right {
		display: flex;
		justify-content: flex-end;
		.menu {
			&-item {
				&::before {
					content: '|';
					display: inline-block;
					margin: 0 16px;
					color: $top-bar-menu-splitter-color;
				}
				&:first-child {
						&::before {
								content: '';
						}
				}
			}
		}
	}
	.menu {
		display: flex;
		list-style-type: none;
		&-title {
			padding: 0 5px;
			text-transform: uppercase;
		}
		&-link {
			color: $top-bar-color;
			&:hover {
				color: $top-bar-color;
			}
		}
	}
}

.header-user-nav {
	display: flex;
	height: 100%; //fix
	align-items: center;
	justify-content: flex-end;
	&-item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		font-size: 20px;
		color: $main-font-color;
		font-weight: bold;
		span {
			font-family: "OpenSans", sans-serif;
			font-size: 14px;
		}
	}
	.wish-list {
		position: relative;
		font-weight: bold;
		&-count {
			position: absolute;
			top: -7px;
			right: -7px;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			background-color: $accent-color;
			text-align: center;
			font-weight: 700;
			line-height: 1.22;
		}
	}
	.shopping-bag {
		&-count {
			margin-left: -5px;
			font-weight: normal;
			strong {
				font-weight: bold;
			}
		}
	}
	.js-open-mobile-search {
		cursor: pointer;
	}
}

.section-site-navigation {
	background-color: $accent-color;
}

.mobile-search {
	// display: none;
	position: absolute;
	top: -120%;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 2px 6px $border-color;
	transition: all .5s ease;
	opacity: 0;
	z-index: 5;
	&.visible {
		// display: block;
		opacity: 1;
		top: 100%;
	}
	.dgwt-wcas-search-wrapp {
		top: 0;
	}
	.dgwt-wcas-search-form {
		max-width: 430px;
		margin: 0 auto;
	}
	.dgwt-wcas-sf-wrapp {
		.dgwt-wcas-search-submit,
		.dgwt-wcas-search-input {
			padding-left: 0;
			border: none;
			border-radius: 0;
			background-color: #fff;
		}
		.dgwt-wcas-search-input {
			padding-right: 10px;
			line-height: 2.6;
		}
		.dgwt-wcas-search-submit {
			flex-basis: 5%;
			padding-right: 0;
			text-align: right;
		}
	}
	.dgwt-wcas-suggestions-wrapp {
		position: relative;
		padding-bottom: 10px;
		border: none;
		border-radius: 0;
		box-shadow: 0px 5px 6px $border-color;
		.dgwt-wcas-suggestion {
			max-width: 430px;
			margin: 0 auto;
				&:hover {
					background-color: #f9f9f9;
				}
				&:last-child {
					border-radius: 0;
				}
			}
		}
		.dgwt-wcas-st {
			padding: 0;
		}
	}

// tmp style
.site-content {
	height: 10000px;
}